/* curriculum side bar menu */

#mb1uu0ebul_wrapper {
  padding: 0;
  border-style: solid;
  border-color: #B50831;
  border-width: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  border-collapse: separate;
  font-size: 0;
  line-height: 0;
}

#mb1uu0ebul_wrapper.quirks {
  margin-bottom: 1px;
  margin-right: 1px;
}

#mb1uu0ebul_wrapper.quirks #mb1uu0ebul_table ul li {
  width: 100%;
}

#mb1uu0ebul_table {
  margin: 0px;
  margin-bottom: -1px;
  margin-right: -1px;
  padding: 0;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
  width: auto;
}

#mb1uu0ebul_table li a {
  line-height: 20px;
  font-size: 13px;
  font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  padding: 5px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#mb1uu0ebul_table li div.buttonbg {
  height: 50px;   /* 56px ivan*/
  width: 185px;
  line-height: 0;
  /* background-color: #1E6597; ivan*/
  background-image: url(listbarbg.png); 
  border-style: solid;
  border-color: #800421;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  text-align: left;
}

#mb1uu0ebul_table li:hover div.buttonbg a, #mb1uu0ebul_table li.expanded a.topitem, #mb1uu0ebul_table li.active a.topitem,
#mb1uu0ebul_table li.itemhot a.topitem, #mb1uu0ebul_table li a:hover {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}


#mb1uu0ebul_table li.expanded div.buttonbg, #mb1uu0ebul_table li.active div.buttonbg, #mb1uu0ebul_table li.itemhot div.buttonbg, #mb1uu0ebul_table li:hover div.buttonbg {
  /* background-color: #83BDE7; ivan rollover*/
  background-image: url(listbarn_bg.png);    
  box-shadow: none;
}

#mb1uu0ebul_table li.expanded div.buttonbg, #mb1uu0ebul_table li.active div.buttonbg, #mb1uu0ebul_table li.itemhot div.buttonbg, #mb1uu0ebul_table li:hover div.buttonbg {
  border-color: #800421;
}

#mb1uu0ebul_table ul li a {
  color: #FFFFFF;
  font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#mb1uu0ebul_table ul li:hover > a {
  color: #FFFFFF;
  font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mb1uu0ebul_table ul li.subexpanded a.subexpanded, #mb1uu0ebul_table ul li.subitemhot a.subitemhot, #mb1uu0ebul_table ul li a:hover {
  color: #FFFFFF;
  font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mb1uu0ebul_table ul li:hover, #mb1uu0ebul_table ul li.subexpanded, #mb1uu0ebul_table ul li.subitemhot {
  border-color: transparent;
  background-color: #83BDE7; 
  box-shadow: none;
}

#mb1uu0ebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: #870724;
  border-width: 0;
  padding: 0;
  background: #1E6597;
  font-size: 0;
  border-radius: 0 6px 6px 6px;
}

#mb1uu0ebul_table ul li a {
  padding: 10px 18px 10px 16px;
  text-align: left;
}

#mb1uu0ebul_table ul li.separator {
  padding: 10px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#mb1uu0ebul_table ul li.separator div {
  border-top: 1px solid #1E4FFF;
  font-size: 0px;
}

#mb1uu0ebul_table ul li {
  border-style: solid;
  border-color: #870724;
  border-width: 0;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
  display: block;
}

#mb1uu0ebul_table ul li.first_item {
  border-radius: 0 6px 0 0;
}

#mb1uu0ebul_table ul li.last_item {
  border-radius: 0 0 6px 6px;
}


#mb1uu0ebul_table a img {
  border: none;
}

#mb1uu0ebul_table li {
  list-style: none;
  
  margin: 0px 1px 1px 0px;
  padding: 0;
  float: left;
  display: inline-block;
}

#mb1uu0ebul_table.css_menu li {
  position: relative;
}

#mb1uu0ebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#mb1uu0ebul_table.css_menu li:hover > ul {
  top: 0;
  left: 100%;
  right: auto;
  opacity: 1;
}

#mb1uu0ebul_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

#mb1uu0ebul_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  opacity: 0;
}

#mb1uu0ebul_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#mb1uu0ebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

#mb1uu0ebul_table .submenu_arrow {
  margin-left: 8px;
}


@media screen and (max-width: 500px) {
  #mb1uu0ebul_wrapper:not(.scripted) {
    text-align: center;
  }

  #mb1uu0ebul_wrapper:not(.scripted) #mb1uu0ebul_table li {
    float: none;
    vertical-align: top;
  }
}

#mb1uu0ebul_wrapper.centeritems {
  text-align: center;
}

#mb1uu0ebul_wrapper.centeritems #mb1uu0ebul_table li {
  float: none;
  vertical-align: top;
}
#mb1uu0ebul_table ul li a.with_arrow { 
  background-image: url(ebab_mb1uu0_c.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  padding-right: 33px; 
} 

