body { 
	font-family:  Arial,新細明體,Helvetica,sans-serif;
	text-decoration: none;
	color: black;
	background-color: #005970;
	background-image: url(images/homebg_logo.png); 
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top; 
	}

p { font-family: 新細明體, Arial, Helvetica, sans-serif; font-size:12pt; line-height:160%; margin-left:10px; text-align:left;}

p.name 
 { font-family: 新細明體, Arial, Helvetica, sans-serif; font-size:11pt; text-align:center; margin-bottom:20px;}

p.br 
 { 	margin-top:0;
	margin-bottom:0;}

p.content 
 { 	line-height:100%;
	margin-top:0;
	margin-bottom:0;
	margin-left:60px;
	margin-right:0;
}

p.content2 
 { 	line-height:100%;
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
}	
	
p.tdhead { font-family: 新細明體, Arial, Helvetica, sans-serif; font-size:14pt; line-height:160%; margin-left:0px; color: white; }	

p.parentnotehead { font-family: 新細明體, Arial, Helvetica, sans-serif; font-size:12pt; line-height:160%;
	color:#CC0099;
	font-weight:bold;
	margin-left:0;
	margin-right:0;}
	
p.parentnote { font-family: 新細明體, Arial, Helvetica, sans-serif; font-size:12pt; line-height:160%;
	margin-left:0;
	margin-right:0;}

p.parentnotebr { font-family: 新細明體, Arial, Helvetica, sans-serif; font-size:12pt; line-height:160%;
	text-align:right;
	margin-left:0;
  	margin-top:0;
	margin-bottom:0;}	

	
th {
	text-align:center;
	background-color: #38aa00;	
	}
	
td.tdcontent{
	text-align:center;
	background-color: white;	
	}

#photo {
	border:0;
	vertical-align:center;
		}  
 
h2 {
	margin-top:0;
	margin-bottom:10;
   }
   
h3 {
	margin-top:0;
	margin-bottom:5;
   }
   

td{
	vertical-align:top;
	}

td.news {
	padding-left: 10;
	font-size: 12pt;
	color: red; /* #01596f;*/
	text-decoration: none;
	line-height: 140%;
/* 	top: 5px;	*/
		}	
td.news a{
	padding-left: 10;
	font-size: 12pt;
	color: red; /* #01596f;*/
	text-decoration: none;
	line-height: 140%;	
/* 	top: 5px;	*/
		}			
td.news a:hover{
	padding-left: 10;
	font-size: 12pt;
	color:#9900CC; /* #01596f;*/
	text-decoration: none;
	line-height: 140%;	
	font-weight: normal;
	position: relative;
/* 	top: 5px;	*/	
		}			
	
A:link {font-family: 新細明體, Arial, Helvetica, sans-serif; text-decoration: none; color:blue}
A:visited {font-family: 新細明體, Arial, Helvetica, sans-serif; text-decoration: none; color:blue}
A:active   {font-family: 新細明體, Arial, Helvetica, sans-serif; text-decoration: none; color:blue}
A:hover   {font-family: 新細明體, Arial, Helvetica, sans-serif; text-decoration: underline; color:#9900CC;	font-weight: normal;
	position: relative;
	left: 0px;
	top: 0px; }

A.s:link {font-family: 新細明體, Arial, Helvetica, sans-serif; text-decoration: none; color:blue}
A.s:visited {font-family: 新細明體, Arial, Helvetica, sans-serif; text-decoration: none; color:blue}
A.s:active   {font-family: 新細明體, Arial, Helvetica, sans-serif; text-decoration: none; color:blue}
A.s:hover   {font-family: 新細明體, Arial, Helvetica, sans-serif; text-decoration: underline; color:blue}

A.a:link {font-family: 新細明體, Arial, Helvetica, sans-serif; text-decoration: none; color:red}
A.a:visited {font-family: 新細明體, Arial, Helvetica, sans-serif; text-decoration: none; color:red}
A.a:active   {font-family: 新細明體, Arial, Helvetica, sans-serif; text-decoration: none; color:red}
A.a:hover   {font-family: 新細明體, Arial, Helvetica, sans-serif;  text-decoration: underline; color:red}

/* for javascript pop-up */
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#d0eff7;
  display:none;
}  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
#boxes #dialog {
  width:710px; 
  height:700px;
  padding:0px;
  background-color:#ffffff;
}