/* Created with Easy Button & Menu Maker */

#mynortopebul_wrapper {
  width: 1024px;
  padding: 0;
  border-style: solid;
  border-color: #B50831;
  border-width: 0;
  border-radius: 0;
  /* background-color: #277E8D; */
  background-color: #277E8D;
  background-image: url(topbarbg.png); 
  box-shadow: none;
  border-collapse: separate;
  font-size: 0;
  line-height: 0;
}

#mynortopebul_wrapper.quirks {
  margin-bottom: 1px;
  margin-right: 1px;
}

#mynortopebul_wrapper.quirks #mynortopebul_table ul li {
  width: 100%;
}

#mynortopebul_table {
  margin: 0px;
  margin-bottom: -1px;
  margin-right: -1px;
  padding: 0;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
  width: auto;
}

#mynortopebul_table li a {
  line-height: 22px;
  font-size: 16px;
  font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  padding: 15px 30px 15px 15px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#mynortopebul_table li div.buttonbg {
  height: 53px;
  width: 103px;
  line-height: 0;
  background-color: transparent;
  border-style: solid;
  border-color: #800421;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  text-align: center;
}

#mynortopebul_table li:hover div.buttonbg a, #mynortopebul_table li.expanded a.topitem, #mynortopebul_table li.active a.topitem,
#mynortopebul_table li.itemhot a.topitem, #mynortopebul_table li a:hover {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}


#mynortopebul_table li.expanded div.buttonbg, #mynortopebul_table li.active div.buttonbg, #mynortopebul_table li.itemhot div.buttonbg, #mynortopebul_table li:hover div.buttonbg {
  background-color: #1E6597; 
  box-shadow: none;
}

#mynortopebul_table li.expanded div.buttonbg, #mynortopebul_table li.active div.buttonbg, #mynortopebul_table li.itemhot div.buttonbg, #mynortopebul_table li:hover div.buttonbg {
  border-color: #800421;
}

#mynortopebul_table ul li a {
  color: #FFFFFF;
  font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#mynortopebul_table ul li:hover > a {
  color: #FFFFFF;
  font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mynortopebul_table ul li.subexpanded a.subexpanded, #mynortopebul_table ul li.subitemhot a.subitemhot, #mynortopebul_table ul li a:hover {
  color: #FFFFFF;
  font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mynortopebul_table ul li:hover, #mynortopebul_table ul li.subexpanded, #mynortopebul_table ul li.subitemhot {
  border-color: transparent;
  background-color: #83BDE7;
  box-shadow: none;
}

#mynortopebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: #870724;
  border-width: 0;
  padding: 0;
    /* background-color: #1E6597; */
  background-color: transparent;
  background-image: url(listbarbg.png); 
  font-size: 0;
  border-radius: 0 6px 6px 6px;
}

#mynortopebul_table ul li a {
  padding: 10px 18px 10px 16px;
  text-align: left;
}

#mynortopebul_table ul li.separator {
  padding: 10px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#mynortopebul_table ul li.separator div {
  border-top: 1px solid #1E4FFF;
  font-size: 0px;
}

#mynortopebul_table ul li {
  border-style: solid;
  border-color: #870724;
  border-width: 0;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
  display: block;
}

#mynortopebul_table ul li.first_item {
  border-radius: 0 6px 0 0;
}

#mynortopebul_table ul li.last_item {
  border-radius: 0 0 6px 6px;
}


#mynortopebul_table ul {
  box-shadow: 0 0 5px -1px #333333;
}

#mynortopebul_table a img {
  border: none;
}

#mynortopebul_table li {
  list-style: none;
  float: left;
  margin: 0px 1px 1px 0px;
  padding: 0;
  float: left;
  display: inline-block;
}

#mynortopebul_table.css_menu li {
  position: relative;
}

#mynortopebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#mynortopebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#mynortopebul_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

#mynortopebul_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  opacity: 0;
}

#mynortopebul_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#mynortopebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

#mynortopebul_table .submenu_arrow {
  margin-left: 8px;
}


@media screen and (max-width: 500px) {
  #mynortopebul_wrapper:not(.scripted) {
    text-align: center;
  }

  #mynortopebul_wrapper:not(.scripted) #mynortopebul_table li {
    float: none;
    vertical-align: top;
  }
}

#mynortopebul_wrapper.centeritems {
  text-align: center;
}

#mynortopebul_wrapper.centeritems #mynortopebul_table li {
  float: none;
  vertical-align: top;
}
#mynortopebul_table div.arrow { 
  background-image: url(ebab_mynortop_d.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  height: 100%; 
} 

#mynortopebul_table ul li a.with_arrow { 
  background-image: url(ebab_mynortop_c.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  padding-right: 33px; 
} 

#mynortopebul_table li a.button_3, #mynortopebul_table li div a.button_3 { 
  font-family: "Palatino Linotype","Book Antiqua",Palatino,serif; 
  padding-right: 15px;  /*30px*/
} 

#mynortopebul_table li a.button_5, #mynortopebul_table li div a.button_5 { 
  font-family: "Palatino Linotype","Book Antiqua",Palatino,serif; 
  padding-right: 15px;  /*30px*/
} 

#mynortopebul_table li a.button_6, #mynortopebul_table li div a.button_6 { 
  font-family: "Palatino Linotype","Book Antiqua",Palatino,serif; 
  padding-right: 15px;  /*30px*/
} 

